@use '../helpers' as *;
@use '../comonents/Cards';

.clients {

  margin-top: 70px;
  position: relative;

  &__wrapper, &__cards, .card {
    width: 100%;
  }

  &__cards, .card__label {
    @include flex-center(row);
  }

  &__wrapper {
    @include flex-center(column);
    max-width: 1236px;
  }

  &__cards {
    height: 492px;

    .card {
      max-width: 416px;
      font-size: 13px;
      padding-inline: 20px;

      &__header {
        line-height: 127.1%;
      }

      &__text {
        color: var(--color-grey);
      }

      &__label {
        column-gap: 18px;
        padding-block: 11px;
      }
    }

    .card:nth-child(1) {
      .card__client-photo {
        background: url("@images/client-photo-1.jpg") 50% / 190%;
      }
    }

    .card:nth-child(2) {
      .card__client-photo {
        background: url("@images/client-photo-2.jpg") 50% 0 / 190%;
      }
    }

    .card:nth-child(3) {
      .card__client-photo {
        @include background("@images/client-photo-3.jpg");
        //background: url("@images/client-photo-3.jpg") 50% / cover;
      }
    }
  }
}

@include tablet {
  .clients {
    @include visually-hidden();
  }
}

