@use '../helpers' as *;
@use '../comonents/Section-heading';
@use '../comonents/Video';
@use '../comonents/HairLine';
@use '../comonents/Form';
@use '../comonents/Input';
@use '../comonents/Checkbox';
@use '../comonents/Button';
@use 'sass:math';

.control {

  position: relative;
  margin-bottom: fluid(140, 60);
  overflow: hidden;

  @include flex-center();

  &__wrapper {
    @include flex-center();
    flex-direction: column;
    max-width: 817px;
  }

  &__header {
    color: var(--color-white);
  }

  .video {
    margin-bottom: fluid(62, 28);
  }

  &__divider {
    width: 55px;
    margin-bottom: fluid(34, 21);
  }

  &__text {
    color: var(--color-black);
    font-size: fluid(18, 11);
    text-align: center;
    padding-inline: 10%;
    line-height: 205%;
    margin-bottom: fluid(90, 60);
  }

  .form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 49px;
    color: var(--color-black);

    &__input-wrapper {
      order: 0;
    }

    &__submit-button {
      order: 1;
      width: 231px;
      height: 51px;
      color: var(--color-white);
    }

    &__checkbox-wrapper {
      order: 2;
      flex-grow: 3;
    }

    &__checkbox-label {
      width: 100%;
      max-width: 260px;
    }
  }
}

  @include mobile-above {

    .video {
      box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 15%);

      &:after {
        content: '';
        width: 100vw;
        left: 50%;
        height: 100%;
        background-color: var(--color-dark);
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
    }

    .form__submit-button {
      box-shadow: 0 15px 15px 0 rgba(var(--color-gold-rgb), 15%);
    }
  }


  @include mobile {

    .control {

      background-color: var(--color-dark);
      &__text {
        color: var(--color-white);
      }

      &__wrapper:after {
        height: 90%;
      }

      .form {
        flex-flow: column nowrap;
        width: 100%;
        z-index: 1;

        &__input-label, &__checkbox-label {
          color: var(--color-white);
        }

        &__input-wrapper, &__submit-button, {
          width: 100%;
        }

        &__input, &__checkbox-wrapper, &__checkbox-label {
          max-width: 100%;
        }

        &__input {
          border-bottom: 1px solid var(--color-white);
          color: var(--color-white);

          &:focus-visible {
            border-bottom: 2px solid var(--color-gold);
          }

          &::placeholder {
            color: var(--color-white);
          }
        }

        &__button-wrapper {
          order: 2;
          position: relative;
        }

        &__checkbox-wrapper {
          order: 1;
          justify-content: start;
        }

        &__checkbox-label {
          max-width: 80%;
        }

        &__checkbox {
          border: 1px solid var(--color-white);
        }

        &__button-background {
          position: absolute;
          z-index: -1;
          width: 100vw;
          height: 100%;
          left: 50%;
          top: 0;
          opacity: 1;
          transform: translate(-50%, 50%);;
          background-color: var(--color-white);
        }
      }
    }
  }

