@use '../helpers' as *;

.fantasies-background,
.fantasies-background__image,
.fantasies-gallery-mobile {
  width: 100%;
}

.fantasies__wrapper,
.fantasies-styles__list,
.fantasies-gallery-desktop {
  display: flex;
}


.fantasies {
  position: relative;
  overflow: hidden;

  &__wrapper {
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    column-gap: 18px;
    padding-inline: 18px;
  }
}

.fantasies-background {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -47%);
  height: 87%;
  z-index: -1;

  &__image {
    @include background("@images/fantasies_background.jpg");
  }

  &__overlay {
    @include absolute-center;
    opacity: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
  }
}

.fantasies-styles {
  max-width: 441px;

  &__header {
    max-width: 380px;
    margin-bottom: 47px;
  }

  &__list {
    color: var(--color-white);
    font-size: 20px;
    flex-direction: column;
    row-gap: 25px;
  }

  &__list-element {

    &--selected {
      color: var(--color-gold);
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 8px;
    }
  }
}

.fantasies-gallery-desktop {
  flex-flow: column wrap;
  max-height: 1100px;
  gap: 39px 43px;

  &__image:first-child {
    margin-top: 60px;
  }
}

.fantasies-gallery-mobile {
  @include background("@images/fantasies_background.jpg");
  aspect-ratio: 1.4;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 55%;
    left: 50%;
    top: 0;
    transform: translate(-50%, 91%);;
    background-color: var(--color-dark);
  }
}

@include tablet-above {
  .photo-pagination, .fantasies-gallery-mobile {
    @include visually-hidden();
  }
}

@include tablet {
  .fantasies-background, .fantasies-styles__list, .fantasies-gallery-desktop {
    @include visually-hidden();
  }

  .fantasies__wrapper {
    flex-direction: column;
  }

  .fantasies-styles__header {
    text-align: center;
  }
}
