@use '@/styles/helpers' as *;
@use '@/styles/comonents/Navigation';

$header-height: fluid(83, 57);

header {
  background-color: var(--color-dark);
  height: $header-height;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}