@use 'Header' as *;
@use '../helpers' as *;

.hero,
.hero__subtitle,
.hero__header {
  color: var(--color-white);
}

.hero {
  width: $full-width;
  height: fluid(707, 476);
  position: relative;
  white-space: nowrap;
  @include flex-center();

  &__background, &__overlay, &__content {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__background {
    background: url('@images/hero-bg.jpg') 50%/cover;
  }

  &__content {
    max-width: 1263px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &__header {
    font-family: var(--font-family-serif);
    max-width: 550px;

    & span {
      color: var(--color-gold);
    }
  }

  &__subtitle {
    max-width: 550px;
    line-height: 163.7%;
    text-wrap: wrap;
    font-size: fluid(22, 14);
    margin-block: fluid(19, 16);
  }

  &__button-wrapper {

    display: flex;
    flex-direction: row;

    @include mobile-s {
      flex-direction: column;
    }

    @include mobile-s-above {
      .button--solid {
        box-shadow: 0 5px 15px 0 rgba(var(--color-gold-rgb), 30%);
      }
    }

    button {
      width: 207px;
      height: 51px;
      @include mobile-s-above {
        &:first-of-type {
          margin-right: 20px;
        }
      }

      @include mobile-s {
        width: 100%;
        &:first-of-type {
          margin-bottom: 26px;
        }
      }
    }
  }
}