@use '../helpers' as *;

.questions {

  & *:not(.questions__bottom-section-background), & *:not(.questions__bottom-section-overlay){
    z-index: 1;
  }

  &__top-section {
    display: flex;
    flex-direction: row;
    height: 466px;
    width: 100%;
    opacity: 5%;
  }

  &__top-background {
    background: no-repeat url("@images/questions-top-section-background.svg");
    width: 100%;
    height: 776px;
  }

  &__top-background:first-child {
    transform: scale(-1, 1);
  }

  &__bottom-section-background, &__bottom-section-overlay {
    @include absolute-center();
    width: 100%;
    height: 100%;
  }

  &__bottom-section-background {
    background: url("@images/questions-bottom-section-background.png") 50% / cover;
    z-index: -1;
  }

  &__bottom-section-overlay {
    background: linear-gradient(180deg, rgba(30, 30, 30, 1) 0%, rgba(24, 24, 24, 0.8) 100%);
    z-index: 0;
  }

  &__bottom-section {
    background-color: var(--color-dark);
    padding-inline: 18px;
    @include flex-center();
    flex-direction: column;
    position: relative;
    padding-top: 300px;
    padding-bottom: 65px;
  }

  &__form-wrapper {
    width: 100%;
    max-width: 882px;
    @include flex-center();
    background: var(--color-dark);
    padding-block: 34px;
  }

  .form {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    color: var(--color-white);
    align-items: center;
    row-gap: 46px;
    column-gap: 58px;

    &__header {
      text-align: center;
      font-size: 20px;
    }

    &__input {
      color: var(--color-white);
    }

    &__input::placeholder {
      color: white;
    }

    & *:not(.inline) {
      grid-column: span 2;
    }

    &__submit-button {
      width: 200px;
      height: 51px;
      margin: 0 auto;
    }
  }

  &__header {
    max-width: 589px;
    color: var(--color-gold);
    text-align: center;
    line-height: 138.6%;
  }

  .social-links {

    margin-block: 43px;

    & * {
      @include perfect-circle(28px)
    }
    &__email {
      background: url("@icons/email-icon.svg");
    }
    &__instagram {
      background: url("@icons/instagram-icon.svg");
    }
  }

  .map-container {
    width: 100%;
    max-width: 965px;
    filter: grayscale(1);
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 15%);
  }
}

@include mobile-above {
  .questions__form-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@include mobile {

  .questions {

    &__top-section,  &__bottom-section-background, &__bottom-section-overlay {
      @include visually-hidden;
    }

    &__bottom-section {
      padding-top: 30px;
    }

    &__form-wrapper {
      position: relative;
    }

    .form {
      width: 100%;
      @include flex-center();
      flex-direction: column;
      row-gap: unset;
      order: 1;

      & > * {
        width: 100%;
      }

      &__header {
        margin-bottom: 52px;
      }

      &__input-wrapper:not(:nth-of-type(3)) {
        margin-bottom: 63px;
      }

      &__checkbox-wrapper {
        justify-content: start;
        margin-top: 22px;
        margin-bottom: 67px;
      }
    }

    .map-container {
      order: 2;
      margin-top: 46px;
      margin-bottom: 42px;
    }

    &__header {
      order: 3;
    }

    .social-links {
      order: 4;
      margin-block: 23px;
    }

  }

}
