@use '../helpers' as *;
@use '../comonents/Section-heading';
@use '../comonents/HairLine';
@use '../comonents/Cards';

.types__wrapper,
.types__cards-wrapper {
  width: 100%;
}

.types {

  @include flex-center();
  margin-bottom: fluid(300, 55);

  @include mobile {
    margin-bottom: 20px;
  }

  &__wrapper {
    @include flex-center(column);
    max-width: 1236px;
  }

  &__heading {
    color: var(--color-gold);
  }

  &__cards-wrapper {
    @include flex-center(row);
    justify-content: space-between;
    max-width: 1236px;
    gap: $container-inline-padding;
  }
}

@include tablet {

  .types__cards-wrapper {
    flex-direction: column;
  }

  .card {
    margin-bottom: 250px;

    &__info {
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

