@use '../helpers' as *;
@use '../comonents/Section-heading';
@use '../comonents/HairLine';
@use '../comonents/Cards';

.types {

  @include flex-center();
  margin-bottom: fluid(300, 150);

  &__wrapper {

    @include flex-center();
    flex-direction: column;
    width: 100%;
    max-width: 1236px;
  }

  &__heading {
    color: var(--color-gold);
  }

  &__cards-wrapper {
    @include flex-center();
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1236px;
    gap: $container-inline-padding;
  }
}

@include tablet {

  .types {
    &__cards-wrapper {
      flex-direction: column;
    }
  }

  .card {
    margin-bottom: 250px;

    &__info {
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

