.button {

  border: none;
  background: none;
  color: inherit;
  font-size: 13px;
  border-radius: 2px;
  text-transform: uppercase;
  line-height: 1.2;
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
  }

  &:not([type="submit"]) {
    font-style: italic;
    font-size: 11px;
  }

  &--solid {
    @extend .button;
    background-color: var(--color-gold);
  }

  &--hollow {
    @extend .button;
    border: 1px solid var(--color-white);
  }
}