@use '../helpers' as *;

.card {
  position: relative;

  &__info {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: var(--color-white);
    padding: 32px 26px 60px 36px;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 3%);
  }

  &__header-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 23px;
  }

  &__client-photo {
    @include  perfect-circle(76px)
  }

  &__list {
    list-style: inside;
    color: var(--color-grey);
    font-size: 13px;
    line-height: 204.6%;
    padding-top: fluid(13,10);
  }

  &__label-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(0, 50%);
    display: flex;
    flex-flow: row nowrap;
    gap: 1px;
    box-shadow: 5px 5px 10px 0 rgba(var(--color-gold-rgb), 30%);
  }

  &__label {
    padding-inline: fluid(22,16);
    padding-block: fluid(17,12);
    font-family: var(--font-family-serif);
    color: var(--color-white);
    background: var(--color-gold);
    text-align: center;
    text-transform: uppercase;
  }
}

@include tablet {
  .card {
    &__info {
      box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 5%);
    }
  }
}