@use '@/styles/helpers' as *;

.navigation-wrapper {
  width: 100%;
  max-width: 1256px;
  margin: auto 18px;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--color-white);
  @include flex-row-center();
  justify-content: space-between;

  button {
    padding-block: 12px;
    padding-inline: 34px;

    @include tablet() {
      @include visually-hidden();
    }
  }

  &__phone, &__logo {
    color: var(--color-gold);
  }

  &__phone {
    text-decoration: underline;
    @include tablet() {
      color: var(--color-white);
      text-decoration: none;
    }
  }
}

.navigation {

  @include tablet() {
    @include visually-hidden();
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: fluid(47,1);
    padding-inline: fluid(80,1)
  }

  &__element--active {
    color: var(--color-gold);
  }
}