@use '../helpers' as *;

.photo-pagination {
  background: url("@icons/arrow-button.svg") 50%/cover;
  @include perfect-circle(34px);
  position: absolute;
  top: 50%;

  &:first-child {
    left: 14px;
    transform: translate(0, -50%) rotate(180deg);
  }

  &:last-child {
    right: 14px;
    transform: translate(0, -50%);
  }
}