@use 'variables';
@use './helpers' as *;

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-main);
  background-color: var(--color-white);
  width: $full-width;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3 {
  text-transform: uppercase;

}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-serif);
  font-weight: normal;
}

h1 {
  @include fluid-text(40, 23);
  line-height: 132.8%;
}

h2 {
  @include fluid-text(27, 22);
  color: var(--color-gold);
  font-family: var(--font-family-serif);
}

h3 {
  @include fluid-text(18, 14)
}

h4 {
  @include fluid-text(18, 15)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  transition-duration: 0.2s;
}