:root {
  --color-white: #fff;
  --color-dark: #131313;
  --color-gold: #E3B873;
  --color-black: #363636;

  --font-family-main: 'Nunito Sans', sans-serif;
  --font-family-serif: 'YesevaOne', serif;
}


